/* Site built starting with Twitter Bootstrap and adding some HTML5 Boilerplate features with WebStorm.
 * Created by Carin Camen of Camen Designs camendesigns.com */

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =========================================================================
    Page structure
   ========================================================================== */

@media screen and (min-width: 1100px),
(-webkit-min-device-pixel-ratio: 2),
(-moz-min-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2),
(-ms-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {

}
html,body {
    font-size: 18px;
    background-color: #ffffff;
    padding:0;
    margin: 0;
    max-width: 1984px;
    height: 10000px;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);

}


/* =Header */


#header {
    max-width: 1000px;
    height: 35px;
    position: fixed;
    margin: 10px 25px 10px 0;
}

/* =Content */

#content {
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
    max-width: 1290px;
    height: 10000px;
    width: 100%;

}

/* =Section */

section {
    max-width: 960px;
    width: 95%;
    height: 100%;
    margin: 45px 15px 15px 15px;
    z-index: 1;

}

/* =Footer black text */

#footerBlack {
    z-index: 100;
    position: fixed;
    width: 80%;
    margin: 10% auto auto -40%;
    left: 50%;
    top: 75%;
    text-align: center;
    height: 100px;
    max-width: 100%;
}

/* =Footer white text */

#footerWhite {
    z-index: 100;
    position: fixed;
    width: 80%;
    margin: 10% auto auto -40%;
    left: 50%;
    top: 95%;
    color: rgb(255,255,255);
    text-align: center;
    height: 100px;
    max-width: 100%;
}


.bcg {
    background-size: cover;
    height: 100%;
    width: 100%;
}

/* unvisited link */
a:link    {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover   {
    color: dimgrey;
}

/* =========================================================================
    Font structure

   ========================================================================== */
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1 {
    font-size: 4em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 0.5%;
    text-align: center;

}


h2 {
    font-size: 3em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: normal;
}


h3 {
    font-size: 1.5em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
    line-height: 1;
}


h4 {
    font-size: 1em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
}




h5 {
    font-size: .75em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
}


h6 {
    font-size: .50em;
    font-family: 'Cinzel', serif;
    text-align: center;
    font-weight: bolder;
}



p {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-weight: normal;
    line-height: 1.5;
}

.title {
    line-height: 1;

}


/* ==========================================================================
   Navigation white background
   ========================================================================== */
.nav{
    position: fixed;
    float: right;
    margin-top: 15px;
    margin-left: 50px;
    width: 128px;
    height: 128px;
    z-index: 999;
}

.nav img{
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0px 1px 1px #000;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.45s;
}

.menu{
    border-radius: 2px 0 0 2px;
    box-shadow: 0px 0px 0px #000;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: -30px;
    width: 95px;
    z-index: 999;
}

.menu div{
    background: rgb(0, 0, 0);
    border-radius: 2px;
    margin: 1px 5px;
    width: 30px;
    height: 4px;
    transition: height 0.45s;
}

.menu:hover > div{
    height: 1px;
}

.menu:hover + img{
    opacity:0.4;
}

.menu > a{
    color: rgba(35, 35, 35, 0.5);
    display: block;
    text-align: left;
    font-size: 0em;
    padding: 2px;
    transition: padding 0.1s;
}

.menu:hover > a{
    font-size: 1em;
    padding: 5px 0 0 0;
}

.menu > a:hover{
    color: rgba(35, 35, 35, 1);
    transition: color 0.1s;
}

/* ==========================================================================
   Navigation black background
   ========================================================================== */
.nav2{
    position: fixed;
    float: right;
    margin-top: 15px;
    margin-left: 50px;
    width: 128px;
    height: 128px;
    z-index: 999;
}

.nav2 img{
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0px 1px 1px #000;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.45s;
}

.menu2{
    border-radius: 2px 0 0 2px;
    box-shadow: 0px 0px 0px #000;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: -30px;
    width: 95px;
    z-index: 999;
}

.menu2 div{
    background: rgb(255, 255, 255);
    border-radius: 2px;
    margin: 1px 5px;
    width: 30px;
    height: 4px;
    transition: height 0.45s;
}

.menu2:hover > div{
    height: 1px;
}

.menu2:hover + img{
    opacity:0.4;
}

.menu2 > a{
    color: rgba(255, 255, 255, 0.5);
    display: block;
    text-align: left;
    font-size: 0em;
    padding: 2px;
    transition: padding 0.1s;
}

.menu2:hover > a{
    font-size: 1em;
    padding: 5px 0 0 0;
}

.menu2 > a:hover{
    color: rgba(255, 255, 255, 1);
    transition: color 0.1s;
}

/* ==========================================================================
   Parallax Scroll index.html
   ========================================================================== */


#parallax {
    z-index: 4;
    position: absolute;
    max-width: 1290px;
    left: 70px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 1.7;
}


/*  Parallax  foundation - sky */

#parallax-bcg1 {
    z-index: 1;
    position: fixed;
    margin-left: -300px;
    top: 0;
    width: 2000px;


}
#bcg1-1 {
    position: absolute;

}

/*  Parallax  background - large clouds */
#parallax-bcg2 {
    z-index: 2;
    position: fixed;
    left: 70%; /* align left edge with center of viewport */
    top: 0;
    width: 1200px;
    margin-left: -600px; /* move left by half element's width */
}
#bcg2-1 {
    position: absolute;
    top: 85px;
    left: 70px;
}
#bcg2-2 {
    position: absolute;
    top: 440px;
    left: 695px;
}
#bcg2-3 {
    position: absolute;
    top: 900px;
    left: -220px;
}
#bcg2-4 {
    position: absolute;
    top: 1220px;
    left: 950px;
}

#bcg2-5 {
    position: absolute;
    top: 1600px;
    left: -270px;
}

#bcg2-6 {
    position: absolute;
    top: 1900px;
    left: 695px;
}

#bcg2-7 {
    position: absolute;
    top: 2100px;
    left: 950px;
}
#bcg2-8 {
    position: absolute;
    top: 2440px;
    left: -270px;
}

#bcg2-9 {
    position: absolute;
    top: 2800px;
    left: 650px;
}

#bcg2-10 {
    position: absolute;
    top: 3200px;
    left: -270px;
}

#bcg2-11 {
    position: absolute;
    top: 3685px;
    left: 70px;
}
#bcg2-12 {
    position: absolute;
    top: 4440px;
    left: 695px;
}
#bcg2-13 {
    position: absolute;
    top: 4400px;
    left: -220px;
}
#bcg2-14 {
    position: absolute;
    top: 4820px;
    left: 950px;
}

#bcg2-15 {
    position: absolute;
    top: 5200px;
    left: -270px;
}

/* Parallax mid ground - small clouds */
#parallax-bcg3 {
    z-index: 3;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: 0;
    width: 1200px;
    margin-left: -600px; /* move left by half element's width */

}
#bcg3-1 {
    position: absolute;
    top: 165px;
    left: 200px;
}
#bcg3-2 {
    position: absolute;
    top: 300px;
    left: 1150px;
}
#bcg3-3 {
    position: absolute;
    top: 550px;
    left: -35px;
}
#bcg3-4 {
    position: absolute;
    top: 900px;
    left: 250px;
}
#bcg3-5 {
    position: absolute;
    top: 1180px;
    left: 890px;
}

#bcg3-6 {
    position: absolute;
    top: 1500px;
    left: 200px;
}
#bcg3-7 {
    position: absolute;
    top: 1900px;
    left: 1150px;
}
#bcg3-8 {
    position: absolute;
    top: 2300px;
    left: -35px;
}

#bcg3-9 {
    position: absolute;
    top: 2700px;
    left: 250px;
}

#bcg3-10 {
    position: absolute;
    top: 3100px;
    left: 655px;
}

#bcg3-11 {
    position: absolute;
    top: 3500px;
    left: 1150px;
}

#bcg3-12 {
    position: absolute;
    top: 3920px;
    left: 1150px;
}
#bcg3-13 {
    position: absolute;
    top: 4350px;
    left: -35px;
}
#bcg3-14 {
    position: absolute;
    top: 4700px;
    left: 250px;
}
#bcg3-15 {
    position: absolute;
    top: 5180px;
    left: 890px;
}


/* Parallax foreground - Copy */
#parallax-bcg4 {
    z-index: 4;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: 25px;
    width: 1200px;
    height: 125px;
    margin-left: -580px; /* move left by half element's width */

}

#bcg4-1 {
    position: absolute;
    top: 0;
    left: 150px;
    max-width: 100%;
}
#bcg4-2 {
    position: absolute;
    top: 812px;
    left: 321px;
    max-width: 100%;
}
#bcg4-3 {
    position: absolute;
    top: 1628px;
    left: 403px;
    max-width: 100%;
}
#bcg4-4 {
    position: absolute;
    top: 2700px;
    left: -85px;
    max-width: 100%;
}

/* Parallax foreground - Logo Top */
#parallax-bcg5-logo {
    z-index: 5;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: 60px;
    width: 1200px;
    margin-left: -540px; /* move left by half element's width */
}

#bcg5-1 {
    position: absolute;
    top: 415px;
    left: 550px;
    max-width: 100%;
}

/* Parallax foreground - Logo Bottom */
#parallax-bcg6-logo {
    z-index: 6;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: -10px;
    width: 1200px;
    margin-left: -540px; /* move left by half element's width */
    padding-bottom: 25px;
}

#bcg6-1 {
    position: absolute;
    top: 350px;
    left: 550px;
    max-width: 100%;
}


/* Parallax foreground - Balloons */
#parallax-bcg7 {
    z-index: 7;
    position: relative;
    left: 50%; /* align left edge with center of viewport */
    top: 2000px;
    width: 1984px;
    margin-left: -585px; /* move left by half element's width */
}


#bcg7-1-web {
    position: absolute;
    top: 500px;
    left: 100px;
    max-width: 100%;
}

#bcg7-1-webCopy {
    position: absolute;
    width: 750px;
    height: 100%;
    top: 400px;
    left: 400px;
    max-width: 100%;
}

#bcg7-1-design {
    position: absolute;
    top: 1500px;
    left: 1150px;
    max-width: 100%;
}

#bcg7-1-designCopy {
    position: absolute;
    width: 750px;
    height: 100%;
    top: 1400px;
    left: 250px;
    max-width: 100%;
}

#bcg7-1-copy {
    position: absolute;
    top: 2600px;
    left: 350px;
}

#bcg7-1-copyCopy {
    position: absolute;
    height: 100%;
    top: 2500px;
    left: 470px;
    width: 650px;
}

#bcg7-1-illustration {
    position: absolute;
    top: 3600px;
    left: 950px;
    max-width: 100%;
}

#bcg7-1-illustrationCopy {
    position: absolute;
    width: 750px;
    height: 100%;
    top: 3500px;
    left: -10px;
    max-width: 100%;
}

#bcg7-1-photography {
    position: absolute;
    top: 4700px;
    left: 200px;
    max-width: 100%;
}

#bcg7-1-photographyCopy {
    position: absolute;
    width: 650px;
    height: 100%;
    top: 4600px;
    left: 450px;
    max-width: 100%;
}

/* ==========================================================================
   Parallax Scroll web.html
   ========================================================================== */
/*  Parallax  background - black mist */

#web-bcg1-1 {
    position: absolute;

}

/*  Parallax  background - large flare */

#web-bcg2-1 {
    position: absolute;
    top: 85px;
    left: 400px;
    max-width: 60%;
    background-repeat: repeat-y;

}

#web-bcg2-2 {
    position: absolute;
    top: -400px;
    left: -800px;
    max-width: 70%;
    background-repeat: repeat-y;
}

#web-bcg2-3 {
    position: absolute;
    top: 4500px;
    left: 400px;
    max-width: 60%;
    background-repeat: repeat-y;

}

#web-bcg2-4 {
    position: absolute;
    top: 4900px;
    left: -800px;
    max-width: 70%;
    background-repeat: repeat-y;
}


/* Parallax background small flare */

#web-bcg3-1 {
    position: absolute;
    top: 500px;
    left: -370px;
    max-width: 70%;
    background-repeat: repeat-y;
}

#web-bcg3-2 {
    position: absolute;
    top: 350px;
    left: 400px;
    max-width: 85%;
    opacity: 0.8;
    background-repeat: repeat-y;
}

#web-bcg3-3 {
    position: absolute;
    top: 6000px;
    left: -370px;
    max-width: 70%;
    background-repeat: repeat-y;
}

/* Banner Headers */

#web-bcg3-4 {
    position: absolute;
    top: 7500px;
    left: 400px;
    max-width: 85%;
    opacity: 0.8;
    background-repeat: repeat-y;
}

/* Logo Intro */

#bcg7-1-web01 {
    position: absolute;
    top: 500px;
    width: 142%;
    height: 550px;
    left:-330px;
    background-color: rgb(255,255,255);
}

.bcg7-1-web01Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 20px;
    left: 80px;
}

.bcg7-1-web01Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 70px;
    left: 950px;
    max-width: 100%;
}

/* Site Map */

#bcg7-1-web02 {
    position: absolute;
    top: 2000px;
    width: 141%;
    height: 550px;
    left:-330px;
    background-color: rgb(0,0,0);

}
#bcg7-1-web02Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 20px;
    left: 80px;
}

#bcg7-1-web02Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 80px;
    left: 950px;
    max-width: 100%;
    color: rgb(255,255,255);
}

#bcg7-1-web02Visual {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 700px;
    left: 600px;

}

/* Wire Frame */

#bcg7-1-web03 {
    position: absolute;
    top: 4000px;
    width: 141%;
    height: 550px;
    left:-330px;
    background-color: rgb(0,0,0);

}
#bcg7-1-web03Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 20px;
    left: 80px;
}

#bcg7-1-web03Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 80px;
    left: 950px;
    max-width: 100%;
    color: rgb(255,255,255);
}


#bcg7-1-web03Visual {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 700px;
    left: 600px;
}

/* Ps Mockup */

#bcg7-1-web04 {
    position: absolute;
    top: 6000px;
    width: 141%;
    height: 550px;
    left:-330px;
    background-color: rgb(0,0,0);

}
#bcg7-1-web04Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 20px;
    left: 80px;
}

#bcg7-1-web04Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 80px;
    left: 950px;
    max-width: 100%;
    color: rgb(255,255,255);
}


#bcg7-1-web04Visual {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 700px;
    left: 600px;

}

/* Design Doc */

#bcg7-1-web05 {
    position: absolute;
    top: 8050px;
    width: 141%;
    height: 550px;
    left:-330px;
    background-color: rgb(0,0,0);

}
#bcg7-1-web05Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 20px;
    left: 80px;
}

#bcg7-1-web05Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 80px;
    left: 950px;
    max-width: 100%;
    color: rgb(255,255,255);
}


#bcg7-1-web05Visual {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 700px;
    left: 300px;
}

/* Style Guide */

#bcg7-1-web06 {
    position: absolute;
    top: 10300px;
    width: 141%;
    height: 550px;
    left:-330px;
    background-color: rgb(0,0,0);

}
#bcg7-1-web06Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 20px;
    left: 80px;
}

#bcg7-1-web06Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 80px;
    left: 950px;
    max-width: 100%;
    color: rgb(255,255,255);
}


#bcg7-1-web06Visual {
    position: absolute;
    width: 773px;
    height: 510px;
    top: 700px;
    left: 300px;
}

/* Logo Close */

#bcg7-1-web07 {
    position: absolute;
    top: 12500px;
    width: 142%;
    height: 550px;
    left:-330px;
    background-color: rgb(255,255,255);
}


/* ==========================================================================
   Parallax Scroll design.html
   ========================================================================== */
/*  Parallax  background - white linen */

#design-bcg1-1 {
    position: absolute;

}

/*  Parallax  background - large flare */

#design-bcg2-1 {
    position: absolute;
    top: 85px;
    left: 400px;
    max-width: 60%;
    background-repeat: repeat-y;

}

#design-bcg2-2 {
    position: absolute;
    top: -400px;
    left: -800px;
    max-width: 70%;
    background-repeat: repeat-y;
}

#design-bcg2-3 {
    position: absolute;
    top: 4500px;
    left: 400px;
    max-width: 60%;
    background-repeat: repeat-y;

}

/* Parallax background white light */

#design-bcg3-1 {
    position: absolute;
    top: -200px;
    left: -370px;
    background-repeat: repeat-y;
}

#design-bcg3-2 {
    position: absolute;
    top: -650px;
    left: 400px;
    max-width: 85%;
    opacity: 0.8;
    background-repeat: repeat-y;
}

#design-bcg3-3 {
    position: absolute;
    top: 3000px;
    left: -370px;
    max-width: 70%;
    background-repeat: repeat-y;
}

#design-bcg3-4 {
    position: absolute;
    top: 2000px;
    left: 400px;
    max-width: 85%;
    opacity: 0.8;
    background-repeat: repeat-y;
}

#design-bcg3-5 {
    position: absolute;
    top: 5550px;
    left: -370px;
    max-width: 70%;
    opacity: 0.8;
    background-repeat: repeat-y;
}

#design-bcg3-6 {
    position: absolute;
    top: 5000px;
    left: 400px;
    max-width: 85%;
    opacity: 0.8;
    background-repeat: repeat-y;
}

/* Design Parallax */

#parallaxDesign-bcg7 {
    z-index: 4;
    position: fixed;
    left: 50%; /* align left edge with center of viewport */
    top: -300px;
    width: 1200px;
    height: 125px;
    margin-left: -580px; /* move left by half element's width */
}

/* Logo Intro */

#bcg7-1-design01 {
    z-index: 4;
    position: fixed;
    left: 30%;
    top: 150px;
    width: 1200px;
    height: 125px;
    margin-left: -580px;
}

.bcg7-1-design01Logo {
    position: absolute;
    width: 773px;
    height: 510px;
    top: -20px;
    left: 80px;
}

.bcg7-1-design01Copy {
    position: absolute;
    width: 700px;
    height: 100%;
    top: 70px;
    left: 950px;
    max-width: 100%;
}

/* Elements of Design */

#bcg7-1-design02 {
    position: absolute;
    top: 100px;
    width: 200%;
    height: 100%;
    left:-330px;


}

#bcg7-1-design02Visual {
    position: absolute;
    width: 1610px;
    height: 625px;
    top: 300px;
    left: 100px;
    max-width: 200%;

}

/* Principles of Design */

#bcg7-1-design03 {
    position: absolute;
    top: 1000px;
    width: 200%;
    height: 100%;
    left:-330px;


}

#bcg7-1-design03Visual {
    position: absolute;
    width: 1610px;
    height: 625px;
    top: 300px;
    left: 100px;
    max-width: 200%;

}


/* Logo Close */

#bcg7-1-design07 {
    position: absolute;
    top: 12500px;
    width: 142%;
    height: 550px;
    left:-330px;

}






/* =========================================================================
    Slider Preview

   ========================================================================== */

.slide {
    position: relative;
}
.slide .inner {
    position: absolute;
    left: 0;
    bottom: 0;
}



.slider-web {
    position: absolute;
    width: 750px;
    height: 250px;
    top: 800px;
    left: 400px;
    background-color: black;


}

.slider-design {
    position: absolute;
    width: 750px;
    height: 250px;
    top: 1750px;
    left: 250px;
    background-color: black;


}

.slide-design {

}

.slider-copy {
    position: absolute;
    width: 750px;
    height: 250px;
    top: 2900px;
    left: 550px;
    background-color: black;


}

.slide-copy {

}

.slider-illustration {
    position: absolute;
    width: 750px;
    height: 250px;
    top: 3900px;
    left: -10px;
    background-color: black;


}

.slide-illustration {

}

.slider-photography {
    position: absolute;
    width: 750px;
    height: 250px;
    top: 5000px;
    left: 500px;
    background-color: black;


}

.slide-photography {

}




/* ==========================================================================
   Resize Images
   ========================================================================== */
img.ri-1
{
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
}

img.ri-1:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-2
{
    position: absolute;
    max-width: 50%;
    top: 10%;
    left: 10%;
}

img.ri-2:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-3
{
    position: absolute;
    max-width: 70%;
    top: 10%;
    left: 10%;
}

img.ri-3:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-4
{
    position: absolute;
    max-width: 90%;
    top: 10%;
    left: 10%;
}

img.ri-4:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-5
{
    position: absolute;
    max-width: 90%;
    top: 10%;
    left: 10%;
}

img.ri-5:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-6
{
    position: absolute;
    max-width: 90%;
    top: 10%;
    left: 10%;
}

img.ri-6:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-7
{
    position: absolute;
    max-width: 60%;
    top: 10%;
    left: 10%;
}

img.ri-7:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* =General */








/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Image replacement */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





