/* =================================================================================================================
    Small Tablet Landscape (800x600)
    ============================================================================================================== */
@media screen and (max-width: 800px) and (orientation: landscape),
(-webkit-min-device-pixel-ratio: 1.0, 1.3, 1.4, 1.5, 2.0, 3.0),
(-moz-min-device-pixel-ratio: 1.0, 1.3, 1.4, 1.5, 2.0, 3.0),
(-o-min-device-pixel-ratio: 1.0, 1.3, 1.4, 1.5, 2.0, 3.0),
(-ms-min-device-pixel-ratio: 1.0, 1.3, 1.4, 1.5, 2.0, 3.0),
(min-device-pixel-ratio: 1.0, 1.3, 1.4, 1.5, 2.0, 3.0) {

        body, html {
            min-height: 9000px;
            font-size: 90%;

        }

        h1 {
            font-size: 275%;
        }

        #content {
            position: absolute;
            max-width: 50%;
            min-height: 8000px;
        }

        #footer {
            z-index: 100;
            position: fixed;
            width: 80%;
            margin: 10% auto auto -40%;
            left: 50%;
            top: 75%;
            text-align: center;
            height: 100px;
            max-width: 100%;
        }

        /*==========================================================================
           Font Size
           ==========================================================================*/
        h1, h2, h3, h4, h5, h6, p {
            margin: 0;
        }

        h1 {
            font-size: 2em;
            font-family: 'Cinzel', serif;
            font-weight: bold;
            line-height: 1;
            text-align: center;

        }

        h2 {
            font-size: 1em;
            font-family: 'Cinzel', serif;
            text-align: center;
            font-weight: normal;
            line-height: 1;
        }

        h3 {
            font-size: 1em;
            font-family: 'Cinzel', serif;
            text-align: center;
            font-weight: bolder;
            line-height: 1;
        }

        h4 {
            font-size: .75em;
            font-family: 'Cinzel', serif;
            text-align: center;
            font-weight: bolder;
        }

        h5 {
            font-size: .3em;
            font-family: 'Cinzel', serif;
            text-align: center;
            font-weight: bolder;
        }

        h6 {
            font-size: .3em;
            font-family: 'Cinzel', serif;
            text-align: center;
            font-weight: bolder;
        }

        p {
            font-size: 1em;
            font-family: 'Open Sans', sans-serif;
            text-align: left;
            font-weight: normal;
            line-height: 1.5;
        }


        /* ==========================================================================
       Gallery
       ==========================================================================*/

        .preview{
            position: relative;
            width: 630px;
            height: 350px;
            top: 0;
            left: 0;
            border-color: black;
        }

        .gallery01 {
            position: relative;
            width: 470px;
            height: 165px;
            top: 30px;
            left: -30px;
            margin-left: -20px;
            background-color: rgb(0,0,0);
        }

        .gallery02{
            position: relative;
            width: 470px;
            height: 165px;
            top: 30px;
            left: -30px;
            margin-left: -20px;
            background-color: rgb(0,0,0);
        }

        .gallery03{
            position: relative;
            width: 470px;
            height: 165px;
            top: 30px;
            left: -30px;
            margin-left: -20px;
            background-color: rgb(0,0,0);
        }

        .slide01{
            position: relative;
            white-space: nowrap;
            width: 150px;
            height: 150px;
            top: 8px;
            left: 5px;

        }

        .slide02{
            position: relative;
            white-space: nowrap;
            width: 150px;
            height: 150px;
            top: 8px;
            left: 5px;

        }

        .slide03{
            position: relative;
            white-space: nowrap;
            width: 150px;
            height: 150px;
            top: 8px;
            left: 5px;

        }

        .slide04{
            position: relative;
            width: 460px;
            height: 155px;
            top: 5px;
            left: 5px;
            background-color: rgb(0,0,0);
        }

        .arrow{
            position: relative;
            width:20px;
            height: 20px;
            top: 15px;
            left: 300px;
            margin-left: -120px;
            z-index: 9999;
        }

        .dotNav{
            position: relative;
            width: 620px;
            height: 30px;
            top:20px;
            left: -18%;
        }

        .smDot01{
            position: absolute;
            display: inline-block;
            top: 15px;
            Left: 286px;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border: solid;
            border-color: slategrey;
            border-radius: 50%;
            background-color: black;
            opacity: .50;
            z-index: 9998;
        }

        .smDot02{
            position: absolute;
            display: inline-block;
            top: 15px;
            Left: 316px;
            margin-left: 2px;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border: solid;
            border-color: slategrey;
            border-radius: 50%;
            background-color: black;
            opacity: .50;
            z-index: 9998;
        }

        .smDot03{
            position: absolute;
            display: inline-block;
            top: 15px;
            Left: 348px;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            width: 10px;
            height: 10px;
            border: solid;
            border-color: slategrey;
            border-radius: 50%;
            background-color: black;
            opacity: .50;
            z-index: 9998;
        }


        /* ==========================================================================
           Slide Out Message
           ==========================================================================*/
        .slideMessageWeb {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 50%;
            left: -25%;
            z-index: 9999
        }
        .slideMessageWeb02 {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 50%;
            left: -25%;
            z-index: 9999
        }

        .slideMessageCopy {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 250%;
            left: 15%;
            z-index: 9999;
        }

        .slideMessageCopy02 {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 250%;
            left: 15%;
            z-index: 9999;
        }

        .slideMessageDesign {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 150%;
            left: 17%;
            z-index: 9999;
        }

        .slideMessageDesign02 {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 25%;
            left: 19%;
            z-index: 9999;
        }

        .slideMessageIllustration {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 150%;
            left: 17%;
            z-index: 9999;
        }

        .slideMessageIllustration02 {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 25%;
            left: 19%;
            z-index: 9999;
        }

        .slideMessagePhotography {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 40%;
            left: -24%;
            z-index: 9999;
        }

        .slideMessagePhotography02 {
            position: absolute;
            width: 225px;
            height: 80px;
            top: 38%;
            left: -25%;
            z-index: 9999;
        }
        .message {
            position: relative;
            width: 225px;
            height: 70px;
            top: -25%;
            left: -1%;
            background-color: rgb(0,0,0);
        }

        .message p{
            position: relative;
            top: 10%;
            left:9%;
        }

        .arrow01{
            position: relative;
            width: 11px;
            height: 24px;
            top: 35%;
            left: 92%;
            z-index: 9999;
        }

        /*==============================================================================================================
          index.html
          ============================================================================================================*/
        /* Parallax foreground - Logo Top */
        #parallax-bcg5-logo {
            z-index: 5;
            position: fixed;
            top: -50px;
            margin-top: -130px;
            left: -170px;
            margin-left: -100px;
            max-width: 80%;
        }

        /* Parallax foreground - Logo Bottom */
        #parallax-bcg6-logo {
            z-index: 6;
            position: fixed;
            left: -125px;
            margin-left: -110px;
            top: -20px;
            margin-top: -130px;
            max-width: 70%;
            padding-bottom: 25px;
        }

        /* Parallax foreground - Balloons */
        #parallax-bcg7 {
            z-index: 7;
            position: absolute;
            left: 50%; /* align left edge with center of viewport */
            top: 2000px;
            max-width: 100%;
        }

        /* Parallax foreground - Copy */
        #parallax-bcg4 {
            z-index: 4;
            position: fixed;
            left: 48%; /* align left edge with center of viewport */
            top: 150px;
            width: 1200px;
            height: 125px;
            margin-left: -580px; /* move left by half element's width */
            text-align: center;

        }

        /* Parallax foreground - Balloons */
        #parallax-bcg7 {
            z-index: 7;
            position: relative;
            left: 50%; /* align left edge with center of viewport */
            top: 2000px;
            width: 800px;
            margin-left: -585px;
        }

        #bcg7-1-web {
            position: relative;
            top: 500px;
            left: 580px;
            max-width: 100%;
        }

        #flame01 {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 614px;
            margin-top: -26px;
            left: 580px;
        }

        #bcg7-1-webCopy {
             position: absolute;
             height: 100%;
             top: 500px;
             left: 650px;
             margin-left: -100px;
             width: 300px;
            }

        #bcg7-1-design {
            position: absolute;
            top: 1500px;
            left: 1000px;
            max-width: 100%;
        }

        #flame02 {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 1588px;
            left: 1000px;
        }

        #bcg7-1-designCopy {
            position: absolute;
            height: 100%;
            top: 1550px;
            left: 450px;
            width: 300px;
        }

        #bcg7-1-copy {
            position: absolute;
            top: 2600px;
            left: 580px;
            max-width: 100%;
        }


        #flame03 {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 2718px;
            left: 580px;
        }

        #bcg7-1-copyCopy {
            position: absolute;
            height: 100%;
            top: 2600px;
            left: 730px;
            width: 300px;
        }

        #bcg7-1-illustration {
            position: absolute;
            top: 3550px;
            left: 1050px;
            max-width: 70%;
        }

        #flame04 {
            position: absolute;
            width: 40px;
            height: 40px;
            top: 3641px;
            margin-top: -20px;
            left: 1050px;
        }

        #bcg7-1-illustrationCopy {
            position: absolute;
            height: 100%;
            top: 3400px;
            left: 550px;
            margin-left: 100px;
            width: 300px;
        }

        #bcg7-1-photography {
            position: absolute;
            top: 4700px;
            left: 560px;
            max-width: 100%;
        }

        #flame05 {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 4825px;
            left: 550px;
        }

        #bcg7-1-photographyCopy {
                position: absolute;
                height: 100%;
                top: 4600px;
                left: 720px;
                width: 300px;
        }


        .about {
            position: absolute;
            width: 150%;
            height: 50px;
            top: 5300px;
            left: 115%;
            margin-left: 110px;

        }

        .socialMedia {
            position: relative;
            display: inline-block;
            width: 100%;
            height: 55px;
            top: 80px;
            left: 23%;
            margin-left: -45px;
        }

        #footerBlack {
            z-index: 100;
            position: absolute;
            width: 80%;
            left: 158px;
            margin-left: -42px;
            top: 5px;
            text-align: center;
            height: 100px;
        }

        /* =====================================================================================================================
      Parallax Scroll web.html
      ========================================================================== */
        /*  Parallax  background - black mist */

        #web-bcg1-1 {
            position: absolute;
            width:150%;
        }

        /*  Parallax  background - large flare */

        #web-bcg2-1 {
            position: absolute;
            top: 85px;
            left: 400px;
            max-width: 60%;
            background-repeat: repeat-y;
        }

        #web-bcg2-2 {
            position: absolute;
            top: -400px;
            left: -800px;
            max-width: 70%;
            background-repeat: repeat-y;
        }

        #web-bcg2-3 {
            position: absolute;
            top: 4500px;
            left: 400px;
            max-width: 60%;
            background-repeat: repeat-y;
        }

        #web-bcg2-4 {
            position: absolute;
            top: 4900px;
            left: -800px;
            max-width: 70%;
            background-repeat: repeat-y;
        }


        /* Parallax background small flare */

        #web-bcg3-1 {
            position: absolute;
            top: 500px;
            left: -370px;
            max-width: 70%;
            background-repeat: repeat-y;
        }

        #web-bcg3-2 {
            position: absolute;
            top: 350px;
            left: 400px;
            max-width: 85%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        #web-bcg3-3 {
            position: absolute;
            top: 6000px;
            left: -370px;
            max-width: 70%;
            background-repeat: repeat-y;
        }

    /* Message Board */

    .messageBoard01 {
        position: fixed;
        top: 50%;
        left: 40%;
        margin-left: -115px;
        text-align: center;
        font-size: 200%;
        letter-spacing: .2em;
    }

    .messageBoard02 {
        position: fixed;
        top: 50%;
        left: 40%;
        margin-left: -100px;
        text-align: center;
        font-size: 200%;
        letter-spacing: .2em;
    }

    .messageBoard03 {
        position: fixed;
        top: 50%;
        left: 40%;
        margin-left: -38px;
        text-align: center;
        font-size: 200%;
        letter-spacing: .2em;
    }
        /* Banner Headers */

        #web-bcg3-4 {
            position: absolute;
            top: 7500px;
            left: 400px;
            max-width: 85%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        /* Logo Intro */

        #bcg7-1-web01 {
            z-index: 4;
            position: absolute;
            left: 96%;
            top: 100px;
            width: 800px;
            height: 450px;
            background-image: url(../img/assets/angle_bcg_l.png);
            background-repeat: no-repeat;
        }

        .bcg7-1-web01Logo {
            position: absolute;
            width: 373px;
            height: 110px;
            top: 190px;
            left: -10px;
        }

        .bcg7-1-web01Copy {
            position: absolute;
            width: 400px;
            height: 100%;
            top: 100px;
            left: 350px;
            max-width: 100%;
        }

        /* Site Map */

        #bcg7-1-web02 {
            position: absolute;
            top: 2000px;
            width: 1034px;
            height: 650px;
            left: 62%;
            background-image: url(../img/assets/angle_bcg_r.png);
            opacity: .80;

        }

        #bcg7-1-web02Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 340px;
            left: 80px;

        }

        #bcg7-1-web02Copy {
            position: absolute;
            width: 400px;
            height: 100%;
            top: 340px;
            left: 500px;
            max-width: 100%;
            color: rgb(0,0,0);
        }

        #bcg7-1-web02Visual {
            position: absolute;
            width: 773px;
            height: 510px;
            top: 900px;
            left: 148px;

        }

        /* Wire Frame */

        #bcg7-1-web03 {
            position: absolute;
            top: 4000px;
            width: 1034px;
            height: 450px;
            left: 62%;
            background-image: url(../img/assets/angle_bcg_l.png);
            opacity: .80;

        }
        #bcg7-1-web03Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 140px;
            left: 80px;
        }

        #bcg7-1-web03Copy {
            position: absolute;
            width: 400px;
            height: 100%;
            top: 160px;
            left: 500px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        #bcg7-1-web03Visual {
            position: absolute;
            width: 773px;
            height: 510px;
            top: 800px;
            left: 152px;
        }

        /* Ps Mockup */

        #bcg7-1-web04 {
            position: absolute;
            top: 6000px;
            width: 1034px;
            height: 650px;
            left: 62%;
            background-image: url(../img/assets/angle_bcg_r.png);
            opacity: .80;

        }
        #bcg7-1-web04Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 350px;
            left: 80px;
        }

        #bcg7-1-web04Copy {
            position: absolute;
            width: 400px;
            height: 100%;
            top: 320px;
            left: 500px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        #bcg7-1-web04Visual {
            position: absolute;
            width: 773px;
            height: 510px;
            top: 900px;
            left: 147px;

        }

        /* Design Doc */

        #bcg7-1-web05 {
            position: absolute;
            top: 8050px;
            width: 1034px;
            height: 450px;
            left: 62%;
            background-image: url(../img/assets/angle_bcg_l.png);
            opacity: .80;

        }
        #bcg7-1-web05Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 140px;
            left: 80px;
        }

        #bcg7-1-web05Copy {
            position: absolute;
            width: 400px;
            height: 100%;
            top: 140px;
            left: 500px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        #bcg7-1-web05Visual {
            position: absolute;
            width: 773px;
            height: 510px;
            top: 700px;
            left: 147px;
        }

        /* Style Guide */

        #bcg7-1-web06 {
            position: absolute;
            top: 10300px;
            width: 1034px;
            height: 650px;
            left: 62%;
            background-image: url(../img/assets/angle_bcg_r.png);
            opacity: .80;

        }
        #bcg7-1-web06Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 340px;
            left: 80px;
        }

        #bcg7-1-web06Copy {
            position: absolute;
            width: 400px;
            height: 100%;
            top: 320px;
            left: 500px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        #bcg7-1-web06Visual {
            position: absolute;
            width: 773px;
            height: 510px;
            top: 900px;
            left: 148px;
        }

        /* Logo Close */

        #bcg7-1-web07 {
            position: absolute;
            top: 12500px;
            width: 805px;
            height: 450px;
            left: 95%;
            background-image: url(../img/assets/angle_bcg_l.png);
        }


        /* =====================================================================================================================
           Parallax Scroll copy.html
           ========================================================================== */

        /*  Parallax  background - paper texture */

        #copy-bcg1-1 {
            position: absolute;
            top: 0;
            width: 100%;
            height: 9000px;
            left: 50%;

        }

        /*  Parallax mid background - shadows */

        #copy-bcg2-1 {
            position: absolute;
            top: -50px;
            left: 50%;
            width: 100%;
            opacity: 0.8;
            background-repeat: repeat-y;

        }

        #copy-bcg2-2 {
            position: absolute;
            top: 2500px;
            left: 50%;
            width: 100%;
            opacity: 0.5;
            background-repeat: repeat-y;
        }

        #copy-bcg2-3 {
            position: absolute;
            top: 4500px;
            left: 50%;
            width: 100%;
            opacity: 0.8;
            background-repeat: repeat-y;

        }

        #copy-bcg2-4 {
            position: absolute;
            top: 5900px;
            left: 50%;
            width: 100%;
            opacity: 0.5;
            background-repeat: repeat-y;
        }


        /* Parallax background white light */

        #copy-bcg3-1 {
            position: absolute;
            top: -500px;
            left: 50%;
            width: 100%;
            opacity: 0.5;
            background-repeat: repeat-y;
        }

        #copy-bcg3-2 {
            position: absolute;
            top: -500px;
            left: 50%;
            width: 100%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        #copy-bcg3-3 {
            position: absolute;
            top: 3000px;
            left: 50%;
            width: 100%;
            opacity: 0.5;
            background-repeat: repeat-y;
        }

        #copy-bcg3-4 {
            position: absolute;
            top: 2000px;
            left: 50%;
            width: 100%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        #copy-bcg3-5 {
            position: absolute;
            top: 5550px;
            left: 50%;
            width: 100%;
            opacity: 0.5;
            background-repeat: repeat-y;
        }

        #copy-bcg3-6 {
            position: absolute;
            top: 7000px;
            left: 50%;
            width: 100%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        /* Logo Intro */

        #bcg7-1-copy01 {
            z-index: 4;
            position: fixed;
            left: 25%; /* align left edge with center of viewport */
            top: 5%;
            width: 800px;
            height: 125px;
            margin-left: -580px; /* move left by half element's width */
        }

        .bcg7-1-copy01Logo {
            position: absolute;
            width: 353px;
            height: auto;
            top: 240px;
            left: 345px;
        }

        .bcg7-1-copy01Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: -14px;
            left: 750px;
            font-size: 85%;
        }

        /* Reflection Poster*/

        #motivational01 {
            position: absolute;
            top: 250px;
            height: 450px;
            width: 450px;
            left: 325px;
        }


        /* Grafitti Poster */

        #motivational02{
            position: absolute;
            top: 2000px;
            height: 450px;
            width: 450px;
            left: 325px;
        }


        /* Key Poster */

        #motivational03 {
            position: absolute;
            top: 3600px;
            height: 450px;
            width: 450px;
            left: 325px;
        }

        /* Love, Smiles, Motivation Poster */

        #motivational04 {
            position: absolute;
            top: 5200px;
            height: 450px;
            width: 450px;
            left: 325px;
        }

        /* Reflection Poster */

        #motivational05 {
            position: absolute;
            top: 6800px;
            height: 450px;
            width: 450px;
            left: 325px;
        }


        /* Logo Closing */

        #bcg7-1-copy07 {
            position: absolute;
            top: 8000px;
            left: 580px;
            width: 1200px;
            height: 125px;
            margin-left: -580px;
        }



        /* =====================================================================================================================
           Parallax Scroll design.html
           ========================================================================== */
        /*  Parallax  background - white linen */

        #design-bcg1-1 {
            position: absolute;
            width: 150%;

        }

        /*  Parallax  background - large flare */

        #design-bcg2-1 {
            position: absolute;
            top: 85px;
            left: 0;
            width: 130%;
            background-repeat: repeat-y;

        }

        #design-bcg2-2 {
            position: absolute;
            top: -400px;
            left: 0;
            width: 130%;
            background-repeat: repeat-y;
        }

        #design-bcg2-3 {
            position: absolute;
            top: 4500px;
            left: 0;
            width: 130%;
            background-repeat: repeat-y;

        }

        /* Parallax background white light */

        #design-bcg3-1 {
            position: absolute;
            top: -200px;
            left: 0;
            width: 130%;
            background-repeat: repeat-y;
        }

        #design-bcg3-2 {
            position: absolute;
            top: -650px;
            left: 0;
            width: 130%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        #design-bcg3-3 {
            position: absolute;
            left: 0;
            width: 130%;
            background-repeat: repeat-y;
        }

        #design-bcg3-4 {
            position: absolute;
            top: 2000px;
            left: 50%;
            width: 130%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        #design-bcg3-5 {
            position: absolute;
            top: 5550px;
            left: 0;
            width: 130%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        #design-bcg3-6 {
            position: absolute;
            top: 5000px;
            left: 0;
            width: 130%;
            opacity: 0.8;
            background-repeat: repeat-y;
        }

        /* Design Parallax */

        #parallaxDesign-bcg7 {
            z-index: 4;
            position: fixed;
            left: 50%; /* align left edge with center of viewport */
            top: -300px;
            width: 1200px;
            height: 125px;
            margin-left: -580px; /* move left by half element's width */
        }

        /* Logo Intro */

        #bcg7-1-design01 {
            z-index: 4;
            position: fixed;
            left: 30%;
            top: 150px;
            width: 800px;
            height: 125px;
            margin-left: -580px;
        }

        .bcg7-1-design01Logo {
            position: absolute;
            width: 373px;
            height: 110px;
            max-width: 60%;
            top: 120px;
            left: 340px;
        }

        .bcg7-1-design01Copy {
            position: absolute;
            width: 350px;
            height: 100%;
            top: 80px;
            left: 750px;
            max-width: 100%;
        }

        /* ------------------------------
     Effects
    -------------------------------------- */
        /*principles of design "line" feature */

        .linesContainer {
            position: relative;
            width: 20px;
            height: 630px;
            left: 1060px;
            top: -210px;
        }

        /* principles of design "movment" feature */
        #movement {
            position: relative;
            height: 113px;
            width: 160px;
            top: 280px;
            left: 680px;

        }

        /* Element of Design */

        #bcg7-1-design02 {
            position: absolute;
            top: 400px;
            width: 141%;
            height: 550px;
            left:-330px;


        }
        #bcg7-1-design02Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 400px;
            left: 720px;
        }

        #bcg7-1-design02Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 80px;
            left: 1150px;
            max-width: 100%;
            color: rgb(0,0,0);
        }

        #bcg7-1-design02Visual {
            position: absolute;
            width: 773px;
            top: 700px;
            left: 600px;

        }

        /* Principle of Design */

        #bcg7-1-design03 {
            position: absolute;
            top: 2000px;
            width: 141%;
            height: 550px;
            left:-330px;

        }
        #bcg7-1-design03Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 400px;
            left: 730px;
        }

        #bcg7-1-design03Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 80px;
            left: 1150px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        #bcg7-1-design03Visual {
            position: absolute;
            width: 773px;
            height: 510px;
            top: 700px;
            left: 600px;
        }

        /* Broken Design */

        #bcg7-1-design04 {
            position: absolute;
            top: 4000px;
            width: 141%;
            height: 350px;
            left: -350px;

        }

        #bcg7-1-design04Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 30px;
            left: 720px;
        }

        #bcg7-1-design04Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: -30px;
            left: 1180px;
            max-width: 100%;
            color: rgb(0,0,0);
        }

        /* Past the Storm */

        #bcg7-1-design05 {
            position: absolute;
            top: 5500px;
            width: 141%;
            height: 350px;
            left: -350px;

        }

        #bcg7-1-design05Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 30px;
            left: 720px;
        }

        #bcg7-1-design05Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 10px;
            left: 1180px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        /* The Edge */

        #bcg7-1-design06 {
            position: absolute;
            top: 7000px;
            width: 141%;
            height: 350px;
            left: -350px;

        }

        #bcg7-1-design06Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 30px;
            left: 720px;
        }

        #bcg7-1-design06Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: -30px;
            left: 1180px;
            max-width: 100%;
            color: rgb(0,0,0);
        }


        /* Logo Closing */

        #bcg7-1-design07 {
            position: absolute;
            top: 8500px;
            padding-bottom: 300px;
            width: 800px;
            height: 125px;
            left: 30px;

        }



        /* =====================================================================================================================
           Parallax Scroll illustration.html
           ========================================================================== */

        /*  Parallax  background - green background */

        #illus-bcg1-1 {
            position: absolute;
            width: 150%;

        }

        /*  Parallax mid background - large water drops */

        #illus-bcg2-1 {
            position: absolute;
            top: 600px;
            left: 900px;
            width: 100%
        background-repeat: repeat-y;

        }

        #illus-bcg2-2 {
            position: absolute;
            top: 1200px;
            left: -300px;
            background-repeat: repeat-y;
            opacity: .80;
        }

        #illus-bcg2-3 {
            position: absolute;
            top: 4500px;
            left: 200px;
            background-repeat: repeat-y;
            opacity: .50;

        }

        #illus-bcg2-4 {
            position: absolute;
            top: 5900px;
            left: 400px;
            background-repeat: repeat-y;
            opacity: .70;
        }


        /* Parallax background cat tails */

        #illus-bcg3-1 {
            position: absolute;
            top: 360px;
            left: 420px;
            width: 100%;
            background-repeat: repeat-y;
        }

        #illus-bcg3-2 {
            position: absolute;
            top: 550px;
            left: 250px;
            max-width: 85%;
            opacity: 0.80;
            background-repeat: repeat-y;

        }

        #illus-bcg3-3 {
            position: absolute;
            top: 1000px;
            left: 670px;
            max-width: 70%;
            background-repeat: repeat-y;
            opacity: .60;
        }

        #illus-bcg3-4 {
            position: absolute;
            top: 2000px;
            left: 400px;
            max-width: 85%;
            opacity: 0.3;
            background-repeat: repeat-y;

        }


        #illus-bcg3-5 {
            position: absolute;
            top: 5550px;
            left: -370px;
            max-width: 70%;
            opacity: 0.70;
            background-repeat: repeat-y;

        }

        #illus-bcg3-6 {
            position: absolute;
            top: 8000px;
            left: 400px;
            max-width: 85%;
            opacity: 0.40;
            background-repeat: repeat-y;
        }

        /* Logo Intro */

        #bcg7-1-illus01 {
            z-index: 4;
            position: fixed;
            left: 30%;
            top: 150px;
            width: 800px;
            height: 125px;
            margin-left: -580px;
        }

        .bcg7-1-illus01Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 20px;
            left: 330px;
        }

        .bcg7-1-illus01Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 100px;
            left: 800px;
            max-width: 100%;
        }

        /* Parallax foreground - Carillu and Friends */
        #parallax-bcg7 {
            z-index: 7;
            position: relative;
            left: 50%; /* align left edge with center of viewport */
            top: 2000px;
            width: 1984px;
            margin-left: -585px; /* move left by half element's width */
        }


        #bcg7-1-beginning {
            position: absolute;
            top: 500px;
            left: 620px;
            max-width: 70%;
        }

        #bcg7-1-beginningCopy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 400px;
            left: 820px;
            max-width: 100%;

        }

        #bcg7-1-froggie {
            position: absolute;
            top: 1500px;
            left: 620px;
            max-width: 100%;
        }

        #bcg7-1-froggieCopy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 1400px;
            left: 820px;
            max-width: 100%;
        }

        #bcg7-1-character {
            position: absolute;
            top: 2880px;
            left: 600px;
            max-width: 85%;
        }

        #bcg7-1-characterCopy {
            position: absolute;
            height: 100%;
            top: 2800px;
            left: 820px;
            width: 300px;
        }

        #bcg7-1-story {
            position: absolute;
            top: 3800px;
            left: 800px;
            max-width: 150%;
        }

        #bcg7-1-storyCopy {
            position: absolute;
            width: 500px;
            height: 100%;
            top: 3500px;
            left: 600px;
            max-width: 100%;
        }

        #bcg7-1-print {
            position: absolute;
            top: 4700px;
            left: 600px;
            max-width: 100%;
        }

        #bcg7-1-printCopy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 4620px;
            left: 800px;
            max-width: 100%;
        }

        #bcg7-1-digital {
            position: absolute;
            top: 5990px;
            left: 580px;
            max-width: 95%;
        }

        #bcg7-1-digitalCopy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 5900px;
            left: 820px;
            max-width: 100%;
        }
        /* Logo Closing */

        #bcg7-1-illus07 {
            position: absolute;
            top: 6500px;
            width: 800px;
            height: 125px;
            left: 30px;
        }

        .bcg7-1-illus07Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: -20px;
            left: 330px;
        }

        .bcg7-1-illus07Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 120px;
            left: 820px;
            max-width: 100%;
        }

        /* Moving Froggie */

        #froggieArea {
            position: absolute;
            width: 1054px;
            height: 400px;
            top: 7000px;
            left: 300px;
            z-index: 9998;

        }

        .froggie {
            position: relative;
            top: 60px;
            left: 580px;
            width: 150px;
            height: 150px;
            z-index: 9999;
        }


        /* =====================================================================================================================
           Parallax Scroll photography.html
           ========================================================================== */

        /*  Parallax  background - dust specks */

        #photo-bcg1-1 {
            position: absolute;
            width:150%;
            height: 12000px;

        }

        /*  Parallax  background - cracks */

        #photo-bcg2-1 {
            position: absolute;
            top: -200px;
            left: 400px;
            background-repeat: repeat-y;

        }

        #photo-bcg2-2 {
            position: absolute;
            top: -400px;
            left: -800px;
            max-width: 70%;
            background-repeat: repeat-y;
        }

        #photo-bcg2-3 {
            position: absolute;
            top: 4500px;
            left: 400px;
            max-width: 60%;
            background-repeat: repeat-y;

        }

        #photo-bcg2-4 {
            position: absolute;
            top: 4900px;
            left: -800px;
            max-width: 70%;
            background-repeat: repeat-y;
        }


        /* Parallax background scratches */

        #photo-bcg3-1 {
            position: absolute;
            top: 0px;
            left: -370px;
            background-repeat: repeat-y;
        }

        #photo-bcg3-2 {
            position: absolute;
            top: 50px;
            left: 400px;
            background-repeat: repeat-y;
        }

        #photo-bcg3-3 {
            position: absolute;
            top: 6000px;
            left: -370px;
            background-repeat: repeat-y;
        }


        #photo-bcg3-4 {
            position: absolute;
            top: 7500px;
            left: 400px;
            background-repeat: repeat-y;
        }


        #bcg7-1-photo01 {
            z-index: 4;
            position: fixed;
            left: 0;
            top: 120px;
            width: 110%;
            height: 450px;
            background-color: rgb(255,255,255)
        }

        .bcg7-1-photo01Logo {
            position: absolute;
            width: 473px;
            height: 210px;
            top: 120px;
            left: -50px;
        }

        .bcg7-1-photo01Copy {
            position: absolute;
            width: 300px;
            height: 100%;
            top: 20px;
            left: 400px;
            max-width: 100%;
        }

        .transition{
            position: fixed;
            top: 100px;
            width: 775px;
            height: 775px;
            left: 500px;
        }

        #flowerContainer{
            position: fixed;
            top: 20px;
            margin-top: -20px;
            width: 575px;
            height: 575px;
            left: 230px;
        }

        #flowerFull {
            position: relative;
            top: 10px;
            margin-top: -20px;
            width: 570px;
            height: 570px;
            left: -110px;
        }

        #flowerLeft {
            position: absolute;
            top: 3475px;
            width: 286px;
            height: 571px;
            left: 533px;
        }

        #flowerRight{
            position: relative;
            top: -560px;
            width: 285px;
            height: 570px;
            left: 146px;

        }

        #handContainer {
            position: fixed;
            top: 20px;
            margin-top: -40px;
            width: 575px;
            height: 575px;
            left: 230px;
        }


        #handFull {
            position: relative;
            top: 10px;
            width: 570px;
            height: 570px;
            left: -110px;
        }

        #handLeft {
            position: absolute;
            top: 7000px;
            width: 289px;
            height: 571px;
            left: 532px;
        }

        #handRight {
            position: relative;
            top: -560px;
            width: 285px;
            height: 570px;
            left: 146px;
        }

        #gingerContainer {
            position: fixed;
            top: 20px;
            margin-top: -40px;
            width: 575px;
            height: 575px;
            left: 230px;
        }

        #gingerFull {
            position: relative;
            top: 10px;
            width: 570px;
            height: 570px;
            left: -110px;
        }

        #gingerLeft {
            position: absolute;
            top: 10500px;
            width: 286px;
            height: 571px;
            left: 533px;
        }

        #gingerRight {
            position: relative;
            top: -560px;
            width: 285px;
            height: 570px;
            left: 146px;

        }

        /* Logo Close */

        #bcg7-1-photo07 {
            position: absolute;
            top: 13500px;
            width: 210%;
            height: 450px;
            left: 390px;
            background-color: rgb(255,255,255);
        }



        /* =========================================================================
            Slider Preview

           ========================================================================== */

        .slide {
            position: relative;
        }
        .slide .inner {
            position: absolute;
            left: 0;
            bottom: 0;
        }



        .slider-web {
            position: absolute;
            width: 750px;
            height: 250px;
            top: 800px;
            left: 400px;
            background-color: black;


        }

        .slider-design {
            position: absolute;
            width: 750px;
            height: 250px;
            top: 1750px;
            left: 250px;
            background-color: black;


        }

        .slide-design {

        }

        .slider-copy {
            position: absolute;
            width: 750px;
            height: 250px;
            top: 2900px;
            left: 550px;
            background-color: black;


        }

        .slide-copy {

        }

        .slider-illustration {
            position: absolute;
            width: 750px;
            height: 250px;
            top: 3900px;
            left: -10px;
            background-color: black;


        }

        .slide-illustration {

        }

        .slider-photography {
            position: absolute;
            width: 750px;
            height: 250px;
            top: 5000px;
            left: 500px;
            background-color: black;


        }

        .slide-photography {

        }



        /* ==========================================================================
           Helper classes
           ========================================================================== */

        /* Image replacement */

        .ir {
            background-color: transparent;
            border: 0;
            overflow: hidden;
            /* IE 6/7 fallback */
            *text-indent: -9999px;
        }

        .ir:before {
            content: "";
            display: block;
            width: 0;
            height: 150%;
        }

        /*
         * Hide from both screenreaders and browsers: h5bp.com/u
         */

        .hidden {
            display: none !important;
            visibility: hidden;
        }

        /*
         * Hide only visually, but have it available for screenreaders: h5bp.com/v
         */

        .visuallyhidden {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        /*
         * Extends the .visuallyhidden class to allow the element to be focusable
         * when navigated to via the keyboard: h5bp.com/p
         */

        .visuallyhidden.focusable:active,
        .visuallyhidden.focusable:focus {
            clip: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            position: static;
            width: auto;
        }

        /*
         * Hide visually and from screenreaders, but maintain layout
         */

        .invisible {
            visibility: hidden;
        }

        /*
         * Clearfix: contain floats
         *
         * For modern browsers
         * 1. The space content is one way to avoid an Opera bug when the
         *    `contenteditable` attribute is included anywhere else in the document.
         *    Otherwise it causes space to appear at the top and bottom of elements
         *    that receive the `clearfix` class.
         * 2. The use of `table` rather than `block` is only necessary if using
         *    `:before` to contain the top-margins of child elements.
         */

        .clearfix:before,
        .clearfix:after {
            content: " "; /* 1 */
            display: table; /* 2 */
        }

        .clearfix:after {
            clear: both;
        }

        /*
         * For IE 6/7 only
         * Include this rule to trigger hasLayout and contain floats.
         */

        .clearfix {
            *zoom: 1;
        }





    }